# MySQL Configuration
#
# Launch gmysql backend
launch=gmysql

# gmysql parameters
gmysql-host=localhost
gmysql-port=
gmysql-dbname=pdns
gmysql-user=pdns
gmysql-password=pDNSstupidthingywhat
gmysql-dnssec=yes
# gmysql-socket=

recursor=127.0.0.1:5678